In [32]:
student= {'name' : 'john',
          'class': '12th',
          'roll_no': 2,
          'age': 17
}
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17}

In [29]:
temp={
    'lucknow': [25,30,35],
    'delhi': [30,35,40],
    'chennai':[24,33,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 33, 22]}

In [30]:
info= dict(name= 'john', age=17, roll_no= 2, class_='12th')
print(info)

{'name': 'john', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [31]:
info1= dict(name=input('enter your name'),
            age= int(input('enter your age')),
            roll_no= int(input('enter your number')),
            class_=input('enter your class'))
print(info1)

ValueError: invalid literal for int() with base 10: ''

In [16]:
print(student['name'])

john

In [20]:
print(student.get('roll_no'))

2

In [33]:
#to add items 
student['city']= 'lucknow'
student['school']='dps'
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow', 'school': 'dps'}

In [36]:
#to remove
del student['age']
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'city': 'lucknow'}

In [49]:
for v in info1.items():
    print(v)

('name', 'vinayak sharma')
('age', 23)
('roll_no', 55)
('class_', '12th')

In [48]:
for v,u in info1.items():
    print(f'{v}:{u}')

name:vinayak sharma
age:23
roll_no:55
class_:12th

In [50]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['john', '12th', 2, 'lucknow'])
dict_keys(['name', 'class', 'roll_no', 'city'])
dict_items([('name', 'john'), ('class', '12th'), ('roll_no', 2), ('city', 'lucknow')])

In [55]:
company= {
    'emp01': {'name': 'john', 'age':25,'dept':'HR','salary': 25000},
    'emp02': {'name': 'Emma', 'age':30,'dept':'finance','salary': 30000},
    'emp03': {'name': 'Linda', 'age':35,'dept':'IT','salary': 35000},
    'emp04': {'name': 'David', 'age':40,'dept':'Marketing','salary': 40000}
}
for j,k in company.items():
    print(f'{j}: {k}')

emp01: {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 25000}
emp02: {'name': 'Emma', 'age': 30, 'dept': 'finance', 'salary': 30000}
emp03: {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 35000}
emp04: {'name': 'David', 'age': 40, 'dept': 'Marketing', 'salary': 40000}

In [56]:
from pprint import pp

In [57]:
pp(company)

{'emp01': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 25000},
 'emp02': {'name': 'Emma', 'age': 30, 'dept': 'finance', 'salary': 30000},
 'emp03': {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 35000},
 'emp04': {'name': 'David', 'age': 40, 'dept': 'Marketing', 'salary': 40000}}

In [59]:
print(company['emp02']['dept'])

finance

In [60]:
print(company['emp04']['age'])

40

In [94]:
company['emp05'] = {'name': 'Michael', 'age': 28, 'dept': 'Sales', 'salary': 32000}
print(company)

TypeError: 'tuple' object does not support item assignment

In [87]:

 print('average temperature',sum(temp['lucknow'] )/len(temp['lucknow']))

average temperature 30.0

In [ ]:
company['emp05'] = {'name': 'Michael', 'age': 28, 'dept': 'Sales', 'salary': 32000}