In [1]:
fruits= ['orange','apple','pear','banana', 'kiwi']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi']

In [2]:
for x in fruits:
    print(x)

orange
apple
pear
banana
kiwi

In [5]:
for x in fruits:
    print(x, end=' ')

orange apple pear banana kiwi

In [7]:
name= 'chandrashekhar'
for i in name:
    print(i, end='')

chandrashekhar

In [16]:
for num in range(0,30,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [2]:
name="vinayak sharma"
for name in range(5):
    print("vinayak sharma")

vinayak sharma
vinayak sharma
vinayak sharma
vinayak sharma
vinayak sharma

In [29]:
a=10
b=5
sum=a+b
print('sum', sum)
print ('sum of', a, 'and',b, 'is',sum)
print(f'sum of{a} and {b} is {sum}')

sum 15
sum of 10 and 5 is 15
sum of10 and 5 is 15

In [37]:
for num in range(1,11):
    print(f'15* {num} = {15*num}')

15* 1 = 15
15* 2 = 30
15* 3 = 45
15* 4 = 60
15* 5 = 75
15* 6 = 90
15* 7 = 105
15* 8 = 120
15* 9 = 135
15* 10 = 150

In [4]:
class Phone:
    def make_call (self):
        print('making phone call')

    def play_game(self):
        print('playing game')

In [6]:
p1=Phone()

In [9]:
p1.make_call()
p1.play_game()

making phone call
playing game

In [19]:
class Phone:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call (self):
        print('making phone call')
    def play_game(self):
        print('playing game')    
p1= Phone()

In [20]:
p1.set_color('red') 
p1.set_cost(5000)

In [25]:
p1.show_color()
p1.show_cost()

5000

In [41]:
class employee:
    def __init__(Self,name,age,salary,gender):
        self.name= name
        self.age= age
        self.salary= salary
        self.gender= gender

def emplyoee_detail(self):##
    print('name of employee is', self.name)
    print('age of employee is ', self.age)
    print('salary of emplyoee is', self.salary)
    print('gender of employee is', self.gender)

In [1]:
##Write a program to print numbers from 1 to 10 using a for loop.##

In [4]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
##Write a program to print the multiplication table of a given number using a while loop.##

In [24]:
for i in range (1,11):
    print(f"48*{i}={48*i}")

48*1=48
48*2=96
48*3=144
48*4=192
48*5=240
48*6=288
48*7=336
48*8=384
48*9=432
48*10=480

In [31]:
for i in range(1,21):
    if i%2==0:
        print(i)
        sum=sum+1
print("sum of even number is from 1 to 20 is", sum)

2
4
6
8
10
12
14
16
18
20
sum of even number is from 1 to 20 is 110

In [35]:
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

In [40]:
sum=0
num=1

while num<=100:
        sum=sum+num
        num=num+1
print("sum of intergers from 1 to 100",sum)

sum of intergers from 1 to 100 5050

BREAK AND CONTINUE

In [12]:
#BREAK
fruits=["appple", "banana", "kiwi", "eggplant", "onion", "orange"]
for fruit in fruits:
    if fruit=="eggplant":
        break
    print(fruit)

appple
banana
kiwi

In [13]:
#continue
fruits=["appple", "banana", "kiwi", "eggplant", "onion", "orange"]
for fruit in fruits:
    if fruit=="eggplant":
        continue
    print(fruit)

appple
banana
kiwi
onion
orange

In [16]:
name= "vinayak sharma"
for n in name:
    if n=="a":
        continue
    print(n, end="")

vinyk shrm

In [25]:
#enumerate
for i,f in enumerate(fruits):
    print(f"{i}, {f}")

0, appple
1, banana
2, kiwi
3, eggplant
4, onion
5, orange

In [34]:
items= ['pen', 'book','pencil', 'eraser', 'scale','bag']
for i, v in enumerate(items):
     if i == 4:
           continue
     print(f'{i}:{v}')

0:pen
1:book
2:pencil
3:eraser
5:bag