- create
- methods and operations
   - union
   - intersection
   - symmetric difference
   - issubset
   - issuperset

In [31]:
#It does not print sama value, only print unique values
a= {1,2,3,4,5,6}
b= {1,1,2,2,3,4,5,6,3,5,6,4}
print(a)
print(b)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [32]:
c= set("hello")
print(c)

{'l', 'e', 'o', 'h'}

In [33]:
d= set([1,2,3,4,5,6,2,3,4,1,5,6])
print(d)

{1, 2, 3, 4, 5, 6}

In [34]:
e= set(range(11))
print(e)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
data= set()
print(data)

set()

In [36]:
data.add(1)

data.add(2)
print(data)

{1, 2}

In [37]:
#pop apne aap ek value hta dega jitni baar run kraenge
data.pop()
print(data)

{2}

In [38]:
#discard mein hum choose kar skte hain ki kis value ko htana hai 
data.discard(1)
print(data)

{2}

In [39]:
data.clear()
print(data)

set()

In [42]:
x= {1,2,3,4,5,6}
y= {4,5,6,7,8,9}
z= {7,8,9,10}
print(x)
print(y)
print(z)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{8, 9, 10, 7}

In [45]:
print(x.union(y))
print(x|y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
print(x.intersection(y))
print(x&y)

{4, 5, 6}
{4, 5, 6}

In [50]:
print(x.difference(y))
print(y-x)

{1, 2, 3}
{8, 9, 7}

In [54]:
print(x.symmetric_difference(y))
print(x^y)

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [55]:
print(x.issuperset(y))

False

In [57]:
print(x.issubset(z))

False